body {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(90deg, #3d813f,#4ab64d, #26c52b, #3d813f);
  color: white;
  text-align: center;
  padding: 10px;
}

#map {
  height: 400px; 
  width: 100%;
}

.controls {
  margin: 20px;
  text-align: center;
}

button {
  margin: 5px;
  padding: 10px 15px;
  background: #4CAF50;
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #28792c;
}

main {
  padding: 20px;
}
