<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eco Router</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="static\styles.css">
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>
    <h1>🚗 Eco Router</h1>
    <p>Plan your journey the eco-friendly way</p>

    <div id="map"></div>


    <div class="controls">
    <button onclick="window.location.href='/routes_page'">Routes</button>
    <button onclick="window.location.href='/road_segments_page'">Road Segments</button>
    <button onclick="window.location.href='/traffic_page'">Traffic</button>
    <button onclick="window.location.href='/users_page'">Users</button>
    <button onclick="window.location.href='/vehicles_page'">Vehicles</button>
</div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="static\script.js"></script>
</body>
</html>
